NEXT_PUBLIC_ENV=
NEXT_PUBLIC_USDT_ETHEREUM_ADDRESS=

NEXT_PUBLIC_USDTX_ETHEREUM_ADDRESS=
NEXT_PUBLIC_USDTX_JOC_ADDRESS=
NEXT_PUBLIC_USDTX_ARBITRUM_ADDRESS=
NEXT_PUBLIC_USDTX_BASE_ADDRESS=
NEXT_PUBLIC_USDTX_AVALANCHE_ADDRESS=