NEXT_PUBLIC_ENV=
NEXT_PUBLIC_USDT_ETHEREUM_ADDRESS=
NEXT_PUBLIC_USDC_ETHEREUM_ADDRESS=

NEXT_PUBLIC_USDTX_ETHEREUM_ADDRESS=
NEXT_PUBLIC_USDTX_JOC_ADDRESS=
NEXT_PUBLIC_USDTX_ARBITRUM_ADDRESS=
NEXT_PUBLIC_USDTX_BASE_ADDRESS=
NEXT_PUBLIC_USDTX_AVALANCHE_ADDRESS=

NEXT_PUBLIC_USDCX_ETHEREUM_ADDRESS=
NEXT_PUBLIC_USDCX_JOC_ADDRESS=
NEXT_PUBLIC_USDCX_ARBITRUM_ADDRESS=
NEXT_PUBLIC_USDCX_BASE_ADDRESS=
NEXT_PUBLIC_USDCX_AVALANCHE_ADDRESS=

NEXT_PUBLIC_OFTX_HELPER_ADDRESS=

NEXT_PUBLIC_SWAP_APP_URL=

NEXT_PUBLIC_WALLET_CONNECT_PROJECT_ID=

NEXT_PUBLIC_ETHEREUM_RPC_URL=
NEXT_PUBLIC_JOC_RPC_URL=
NEXT_PUBLIC_ARBITRUM_RPC_URL=
NEXT_PUBLIC_BASE_RPC_URL=
NEXT_PUBLIC_AVALANCHE_RPC_URL=

NEXT_PUBLIC_USDA_ETHEREUM_ADDRESS=
NEXT_PUBLIC_USDA_JOC_ADDRESS=
NEXT_PUBLIC_TREASURY_ETHEREUM_ADDRESS=
NEXT_PUBLIC_TREASURY_JOC_ADDRESS=