NEXT_PUBLIC_ENV=
NEXT_PUBLIC_USDT_ETHEREUM_ADDRESS=
NEXT_PUBLIC_USDC_ETHEREUM_ADDRESS=

NEXT_PUBLIC_USDTX_ETHEREUM_ADDRESS=
NEXT_PUBLIC_USDTX_JOC_ADDRESS=
NEXT_PUBLIC_USDTX_ARBITRUM_ADDRESS=
NEXT_PUBLIC_USDTX_BASE_ADDRESS=
NEXT_PUBLIC_USDTX_AVALANCHE_ADDRESS=

NEXT_PUBLIC_USDCX_ETHEREUM_ADDRESS=
NEXT_PUBLIC_USDCX_JOC_ADDRESS=
NEXT_PUBLIC_USDCX_ARBITRUM_ADDRESS=
NEXT_PUBLIC_USDCX_BASE_ADDRESS=
NEXT_PUBLIC_USDCX_AVALANCHE_ADDRESS=

NEXT_PUBLIC_OFTX_HELPER_ADDRESS=